Client_OnBoarding_AI_Agent.json
{
  "name": "Client OnBoarding AI Agent",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Client onboarding AI Agent",
        "formDescription": "Please fill out the require fields",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "your name",
              "requiredField": true
            },
            {
              "fieldLabel": "Father Name",
              "placeholder": "Your Father Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "placeholder": "Your Email",
              "requiredField": true
            },
            {
              "fieldLabel": "Company Industry",
              "placeholder": "e.g Finance",
              "requiredField": true
            },
            {
              "fieldLabel": "Goal",
              "placeholder": "e.g: Increasing revenue ",
              "requiredField": true
            },
            {
              "fieldLabel": "Anything else we should know?",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -420,
        -180
      ],
      "id": "aa870390-1a71-44c8-ba29-3e708046f4eb",
      "name": "On form submission",
      "webhookId": "8fcf79fe-dd84-49b7-afc3-7cafad3aa3a8"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a welcome email using:\n- Name: {{$json[\"Name\"]}}\n- Industry: {{$json[\"Company Industry\"]}}\n- Goal: \"{{$json[\"Goal\"]}}\"\n- Contact Preference: \"{{$json[\"Anything else we should know\"] || 'No special preferences'}}\"\n\nRequirements:\n1. Professional but friendly tone\n2. Address their goal directly\n3. Respect contact restrictions\n4. Signature:\n   \"SM. Director of TechInnovate\n   TechInnovate\"\n\nReturn JSON format:\n{\n  \"subject\": \"Custom subject\",\n  \"body\": \"Email content\",\n  \"email\": \"{{$json[\"Email\"]}}\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -60,
        -380
      ],
      "id": "91241e40-ad3e-4b65-b3c2-75993a1523dc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -60,
        -200
      ],
      "id": "5fa6d450-6e97-4873-9840-209d47b36bf3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "OMRbmyHUbvYrKg26",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "parse the json query and output the parameter separately:\nSubject\nBody\nEmail",
              "role": "system"
            },
            {
              "content": "={{ $json.output }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        280,
        -380
      ],
      "id": "d7f358d0-c894-47e9-ac85-a64c1b2f4c00",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "O77alilrzjEZ77ea",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.message.content.Email }}",
        "subject": "={{ $json.message.content.Subject }}",
        "emailType": "text",
        "message": "={{ $json.message.content.Body }}",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        620,
        -380
      ],
      "id": "12e09a31-d01e-46c5-9c85-3edfab7431a9",
      "name": "Gmail",
      "webhookId": "188fb26d-0a3c-4d99-a1d3-cb552f563e12",
      "credentials": {
        "gmailOAuth2": {
          "id": "xzqNrFbtPUgwfrb7",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Take the client information provided and create a summary of their client profile. Here is a client's information:\n\nName:{{ $json.Name }}\nCompany Industry:{{ $json['Company Industry'] }}\nGoal:{{ $json['Goal'] }}\nAdditional Information: {{ $json[\"Anything else we should know?\"] }}\nOutput the following parameters separately:\nName:\nName:{{ $json.Name }}\nEmail:{{ $json.Email }}\nSummary: Summary of the client based on the information",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -60,
        -20
      ],
      "id": "6c5729d1-70bf-4e8d-8ffb-01f5fa523194",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -60,
        160
      ],
      "id": "0d2e37be-9c12-4778-81d9-240f8101e829",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "OMRbmyHUbvYrKg26",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Parse the json query into 3 separate fields:\n\nName\nEmail\nSummary",
              "role": "system"
            },
            {
              "content": "={{ $json.output }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        260,
        -20
      ],
      "id": "6f205863-d9f1-4ddf-af55-ac5be05f9c53",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "O77alilrzjEZ77ea",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Ngej5PsZ-jWKZ_hhBQuj7iKkM_uhQ4Wa7zk4ReyBe_c",
          "mode": "list",
          "cachedResultName": "New Clients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ngej5PsZ-jWKZ_hhBQuj7iKkM_uhQ4Wa7zk4ReyBe_c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ngej5PsZ-jWKZ_hhBQuj7iKkM_uhQ4Wa7zk4ReyBe_c/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.message.content.Name }}",
            "Email": "={{ $json.message.content.Email }}",
            "Summary": "={{ $json.message.content.Summary }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        620,
        -20
      ],
      "id": "8ff471f3-a27d-40f9-964b-4b12f815c9fa",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KPXQz9UDwWzRSFrb",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fc2bd44c-144d-4dcf-b206-e600d432cfd7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ee60e02f8d2e6bb1992dc6379a55260aea3ab5466c2bc705cba0e98a55df012"
  },
  "id": "C08wbXrGih8XtkrQ",
  "tags": []
}